<section class="parameters" id="parentParameters">
  <div>
    <dl id="parameterList">
      {{#each parameter}}
      <dt>{{parameter}}</dt>
      <dd>{{descriptino}}</dd>
      {{/each}}
    </dl>
  </div>
  <div id="parameterInputs" class='showHide'>
    <form action="">
      {{#each}}
      <label for="{{parameter}}">{{parameter}}:</label>
      <input type="text" data-parent='{{parameter}}' id="{{parameter}}" name="{{parameter}}"><br><br>
      {{/each}}
      <input type="button" id='submitParams' value="Submit">
    </form>
  </div>
</section>